body{
    background-color: gray;
}
.header-class {
    text-align: center;
    background-color: aliceblue;
    margin: 12px;
    padding: 12px;
}

.nav-class {
    display: inline-block;
    margin: 8px;
    padding: 8px;
    gap: 8px;
}

.ul-class {
    display: block;
    font-family: Arial, sans-serif;
    gap: calc(12);
}
.heading-class {
    text-align: center;
    margin: 8px;
    padding: 10px;
    color: aqua;
}

.img-class{
    text-align: center;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.9);
}
.img-class img{
    width: 500px;
    height: 500px;
    padding: 15px;
    margin: 12px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.9);
}
