body{
    background-color: gray;
}
header {
    background-color: rgb(176, 249, 249);
    padding: 25px;
    text-align: center;
}

.nav-class {
    display: inline-block;
    text-align: left;
}

.nav-class ul {
    list-style: none;
    display: inline-block;
    text-align: right;
    padding: 8px;
    margin: 5px;
}
.nav-class li {
    display: inline-block;
    padding: 8px;
    margin: 5px;
}
.zahir-class{
    text-align: center;
}
.image-zahir {
    text-align: center;
}
.image-zahir img{
    display: block;
    width: 400px;
    height: 400px;
    margin: 0 auto;
    
}
.image-zahir h3 {
    display: inline-block;
    background-color: rgb(148, 143, 143);
    padding: 6px 14px;
    margin-top: 10px;
    color: wheat; 
}
.para-class {
    display: block;
    background-color: rgb(149, 146, 146);
    text-align: center;
    font: bold;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    padding: 50px;
    margin: 50px;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.9);
    border-color: aqua;
}

footer {
    text-align: center;
    font: bold;
    background-color: rgb(245, 198, 198);
    font-size: large;
    padding: 25px;
}